body {
  header {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    background-color: lightblue;
    margin-top: 1rem;
    .icon {
      margin-left: 1rem;
    }
    #menu {
      text-align: left;
      #menu-bars {
      }
    }
  }
}

@media only screen and (max-width: 890px) {
  body {
    header {
      #menu {
        .ticker {
          display: none;
        }
        #menu-bars {
          margin-left: 6rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  body {
    header {
      #menu {
        #menu-bars{
          margin-left: 2rem;
        }
      }
    }
  }
}