@import 'colours';

html {
  height: 100%;
  body {
    background-color: $color1;
  }
}

body {
  z-index: 100; 
  display: flex;
  flex-direction: column;
  height: 100%;
  #main-grid {
    flex: 1 0 auto;
    position: relative;
  }
}