header {
  z-index: -100;
  display: flex;
  align-items: center;
  background-color: lightblue;
  margin-top: 1rem;
  .icon {
    margin-left: 1rem;
  }
  #menu {
    text-align: left;
    #menu-bars {
      margin-right: 2rem;
    }
  }
}

.greyed-out {
  opacity: 0.5;
}
