// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'utils';
@import 'colours'; 

#main-grid {
  background-color: $color1;
  margin-bottom: 2rem;
  width:90%; 
  .proposition {
    margin: 1rem;
    background-color: $color4;
    @include border-radius(5px);
    display: flex;
    align-items: center;
    .proposition-info {
      position: relative;
      .proposition-text {
        padding: 1rem;
        h1 {
          width: 60%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          margin: 0;
        }
        h3 {
          margin: 0;
        }
        p {
          display: inline-block;
          width: 60%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
        }
        .currency-pair {
          position: absolute;
          top: 1rem;
          right: 2rem; 
        }
      }
    }
    .proposition-voting {
      text-align:center;
      p {
        margin: 0;
      }
      i {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #main-grid {
    .proposition {
      .proposition-info {
        .proposition-text {
          h1 {
            width: 100%;
          }
          p {
            width: 10rem;
          }
          .currency-pair {
            display:none;
          }
        }
      }
    }
  }
}