<footer class="grid">
  <div class="column col-2-of-4">
    <h4>&copy;Edd Williams 2017</h4>
  </div>
  <div class="column col-2-of-4 social-icons">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </div>
</footer>