<div class="ticker">
  <h4>$<span id="btc-price"></span></h4>
  <h5>BTC</h5>
  <p>(CoinBase)</p>
</div>
<div class="ticker">
  <h4>$<span id="eth-price"></span></h4>
  <h5>ETH</h5>
  <p>(CoinBase)</p>
</div>
<div class="ticker">
  <h4>$<span id="ltc-price"></span></h4>
  <h5>LTC</h5>
  <p>(CoinBase)</p>
</div>
